<div class="col-xs-12 col-sm-12 col-md-3 sidebar">

  <!-- ================================== TOP NAVIGATION ================================== -->


  <div class="side-menu animate-dropdown outer-bottom-xs">
    <div class="head"><i class="icon fa fa-align-justify fa-fw"></i>Bộ lọc</div>



    <div class="sidebar-widget" >
      <h3 class="section-title">Toàn bộ danh mục</h3>
      <div class="sidebar-widget-body outer-top-xs" *ngFor="let p of category">
        <nav class="yamm megamenu-horizontal">
          <ul class="nav">
            <li> <a><i class="icon fa fa-shopping-bag" ></i> {{p.name }} </a> </li>

          </ul>
          <!-- /.nav -->
        </nav>

        <!-- /.tag-list -->
      </div>
      <!-- /.sidebar-widget-body -->
    </div>


    <!-- ============================================== PRODUCT TAGS ============================================== -->


  </div>
  <!-- /.sidebar-widget -->



</div>
